<div class="container">
    <div class="row mt-4">
        {% for skillset in site.data.skills %}
        <div class="col">
            <h4>{{ skillset.name }}</h4>
            <ul class="text-muted">
                {% for skill in skillset.skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center align-items-center mt-4">
        <a href="/assets/dunc-graham-cv.pdf">Download my CV</a>
    </div>
    <div class="row d-flex justify-content-around mt-5">
        {% include social.html icon_size=3 margin=0 %}
    </div>
</div>
