<nav class="navbar sticky-top navbar-expand-lg navbar-themed">
  <div class="slime-bounce mr-2 d-inline-block"></div>

  <div>
    <a class="navbar-brand" href="{{ site.baseurl }}/"><h5><b>{{ site.author.name }}</b></h5></a>
    <div class="text-muted">{{ site.author.pronouns }}</div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-1x fa-bars text-themed"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% assign index = site.pages | where: 'permalink', '/' | first %}
      {% assign headers = index.content | split: '<h' %}
      
      {% for header in headers %}
        {% assign _classstring = header | split: 'class="' %}
        {% if _classstring.size <= 1 %}
          {% continue %}
        {% endif %}
        {% assign _classstring = _classstring[1] | split: '"' %}
        {% assign _classes = _classstring[0] | split: " " %}
        {% unless _classes contains "nav-header" %}
          {% continue %}
        {% endunless %}

        {% assign _idstring = header | split: 'id="' %}
        {% if _idstring.size <= 1 %}
          {% continue %}
        {% endif %}

        {% assign _idstring = _idstring[1] | split: '"' %}
        {% assign html_id = _idstring[0] %}

        {% assign _string = header | split: '</h' %}
        {% capture _hAttrToStrip %}{{ _string[0] | split: '>' | first }}>{% endcapture %}
        {% assign title = _string[0] | replace: _hAttrToStrip, '' %}

        <a class="nav-item nav-link" href="/#{{ html_id }}">{{ title }}</a>
      {% endfor %}
    </div>
  </div>

</nav>