{%- assign unfocused_color = "6c757d" -%}

{%- assign icon_size = 1 -%}
{%- if include.icon_size -%}
  {%- assign icon_size = include.icon_size -%}
{%- endif -%}

{%- assign margin = icon_size -%}
{%- if include.margin -%}
  {%- assign margin = include.margin -%}
{%- endif -%}

{%- capture icon_size -%}fa-{{ icon_size }}x{%- endcapture -%}
{%- capture margin -%}mx-{{ margin }}{%- endcapture -%}

{% for account in site.author %}

  {%- assign service_name = account[0] -%}
  {%- assign service_data = site.data.social-media[service_name] -%}
  {%- if service_data and service_data.url -%}    
  <a class="social {{ margin }}"  href="{{ service_data.url }}{{ account[1] }}"
      style="color: #{{ unfocused_color }}"
      onMouseOver="this.style.color='#{{ service_data.color }}'"
      onMouseOut="this.style.color='#{{ unfocused_color }}'">
    <i class="{{ service_data.icon }} {{ icon_size }}"></i>
  </a>
  {%- endif -%}

{% endfor %}