.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.navbar-brand {
  margin-bottom: -14px;
  &::after {
    margin-top: -0.25em;
  }
}

.navbar {
  background-color: $dark-600;
  border-radius: $rounded-borders;
}

h1, h2, h3, h4, h5, h6 {
	scroll-margin-top: 100px;
}

.slime-bounce {
  width: 64px;
  height: 64px;
  background: transparent url("/assets/slime-static.png") center top no-repeat;
  background-size: 100%;
  image-rendering: pixelated;
}

.slime-bounce:hover {
  background-image: url("/assets/slime-bounce.gif");
}